<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>
        %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight([%thread]) %-5level %cyan(%logger{36}) - %msg%n
      </pattern>
    </encoder>
  </appender>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <appender name="TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <destination>52.79.227.20:24224</destination>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>@timestamp</fieldName>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <message/>
        <arguments/>
        <stackTrace>
          <fieldName>stack_trace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="TCP"/>
  </root>
</configuration>


